.ant-table-filter-trigger-container{
    width:30px
}

.ant-dropdown-trigger.ant-table-filter-trigger{
    margin-left: 2px;
}

.anticon.anticon-search{
    margin-left: 2px;
}

.anticon.anticon-eye{
    margin-left: -2px;
}

.ant-image-mask{
    border-radius: 50%;
}

.ant-pagination.ant-table-pagination.ant-table-pagination-right{
    margin-right: 500px;
}